$def with (title,list) 
<!DOCTYPE html>
<html>
<head>
    <title>$title</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
         
</head>
<body>
    <h3>Avaliable networks:</h3>
	$for line in list.splitlines():
		$if(line.startswith("*")):
			<p>Currently connected to: $line.split(",")[1]</p>

	<select name="networks" id="selectNetwork">
	$for line in list.splitlines():
		<option> $line.split(",")[1]     -  SIGNAL: $line.split(",")[2]>
	</select>

	
</body>
</html>
