body {
  background-image: url('./images/fondo_FHD-100.jpg');
  color: white;
  /*background-repeat: repeat-y;*/
  background-attachment: fixed;
  font-family: Montserrat_custom;
}

@font-face {
  font-family: Montserrat_custom;
  src: url('./fonts/Montserrat-Regular.ttf');
}

*{
  background-position: center;
  background-repeat: no-repeat;
}

.Display {
  height: 800px;
  width: 480px;
  margin: 0 auto;
  position: relative;
}
.absolute {
  position: absolute;
}
.Btn {
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screenTittle{
  top: 80px;
  width: inherit;
  text-align: center;
}
.C_IdiomaBtn {
  top: 288px;
  left: 138px;
}
.C_InfoBtn {
  top: 288px;
  right: 138px;
}
.C_LoginBtn {
  bottom: 322px;
  left: 138px;
}
.C_ApagarBtn {
  bottom: 322px;
  right: 138px;
}

.language{
  top: 520px;
  left: 140px;
}
#language{
  display: none;
}
.languageList{
  width: 200px;
}
.return {
  top: 700px;
  left: 41px;
}
