$def with (idioma,status)
<!DOCTYPE html>
<html>
<head>
    <title>CSB Mercurio R1 Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--  <style src="./static/home.css" type="text/css"></style>-->
    <link rel="stylesheet" href="./static/controlPuerta.css" type="text/css">
</head>

<body>
  <div class="Display">

    <div class="screenTittle absolute">
      <h1 id="luminariaLED_tittle">$idioma['puertaTittle']</h1>
    </div>

    <div class="upBtn absolute Btn">
      <img id="upBtn" src="./static/icons/up_released.png" alt="upBtn">
    </div>

    <div class="cerrarBtn absolute Btn">
      <img id="cerrarBtn" src="./static/icons/controlPuerta_cerrada.png" alt="Cerrar puerta">
    </div>

    <div class="trabajoBtn absolute Btn">
      <img id="trabajoBtn" src="./static/icons/controlPuerta_trabajo.png" alt="Puerta en Posición de trabajo">
    </div>

    <div class="abrirBtn absolute Btn">
      <img id="abrirBtn" src="./static/icons/controlPuerta_abierta.png" alt="Abrir puerta">
    </div>

    <div class="downBtn absolute Btn">
      <img id="downBtn" src="./static/icons/down_released.png" alt="downBtn">
    </div>

    <div class="return absolute">
      <img id="goBack" class="absolute" src="./static/icons/back.png" alt="return">
    </div>

  </div>
  <script src="./static/controlPuerta.js" type="text/javascript"> </script>
</body>
</html>
