$def with (status)
<!DOCTYPE html>
<html>
<head>
    <title>CSB Mercurio R1 Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--  <style src="./static/home.css" type="text/css"></style>-->
    <link rel="stylesheet" href="./static/home.css" type="text/css">
</head>

<body>
    <h3>Device Status:</h3>
    <!-- En "action" va primero /cgi-bin/thorbell.py , antes de /status-->
    <div id="window" >
      <div id="LED_LightBtn">
        $if (status['LED_Light']):
          <img id="LightBtn" src="./static/icons/led_on.png" alt="LED_Light" onclick="toggleLED()">
        $else:
          <img id="LightBtn" src="./static/icons/led_off.png" alt="LED_Light" onclick="toggleLED()">
      </div>


      <div id="FlowControl">

        <div id="dialSuperior" class:container>
          <img id="entradaBackground" src="./static/images/semi_circulo_superior.png">
          <div id="presionEntrada">
            <p id="flujoEntrada"></p>
          </div>
        </div>

        <div id="dialInferior">
          <div id="presionSalida">
            <p id="flujoSalida"></p>
          </div>
        </div>

      </div>

      <p id="windSpeed">WindSpeed</p>
      <br>
    </div>

    <p id="Status">$status</p>

    <!--<button type="button" onclick="toggleLED()">Toggle LED light</button>-->
    <script src="./static/home.js" type="text/javascript"> </script>




</body>
</html>
