$def with (idioma,status)
<!DOCTYPE html>
<html>
<head>
    <title>CSB Mercurio R1 Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--  <style src="./static/home.css" type="text/css"></style>-->
    <link rel="stylesheet" href="./static/luminariaUV.css" type="text/css">
</head>

<body>
  <div class="Display">

    <div class="screenTittle absolute">
      <h1 id="luminariaUV_tittle">$idioma['UVTittle']</h1>
    </div>

    <div class="downBtn absolute">
      <img id="downBtn" src="./static/icons/down_released.png" alt="downBtn">
    </div>

    <div class="dial absolute">
      <img id="backgroundImage" class="absolute" src="./static/images/dial_hueco.png" alt="">
      <p id="UVTimer" class="absolute">$status['UV_Timer']</p>
    </div>

    <div class="upBtn absolute">
      <img id="upBtn" src="./static/icons/up_released.png" alt="upBtn">
    </div>

    <div id="UV_LightBtn" class="OnOffBtn absolute">
      $if (status['UV_Light']):
        <img id="uvBtn" class="absolute" src="./static/icons/uv_on.png" alt="UV_Light">
      $else:
        <img id="uvBtn" class="absolute" src="./static/icons/uv_off.png" alt="UV_Light">
    </div>

    <div id="UV_timerBtn" class="TimerEnableBtn absolute">
      $if (status['UV_TimerEnable']):
        <img id="uvTimerBtn" class="absolute" src="./static/icons/timer_on.png" alt="uvTimer_Light">
      $else:
        <img id="uvTimerBtn" class="absolute" src="./static/icons/timer_off.png" alt="uvTimer_Light">
    </div>

    <div class="return absolute">
      <img id="goBack" class="absolute" src="./static/icons/back.png" alt="return">
    </div>

  </div>
  <script src="./static/luminariaUV.js" type="text/javascript"> </script>
</body>
</html>
